//! **************************************************************************
// Written by: Map P.20131013 on Wed Jun 21 23:09:27 2017
//! **************************************************************************

SCHEMATIC START;
COMP "VGA_B<0>" LOCATE = SITE "C7" LEVEL 1;
COMP "VGA_B<1>" LOCATE = SITE "D7" LEVEL 1;
COMP "VGA_B<2>" LOCATE = SITE "B9" LEVEL 1;
COMP "VGA_B<3>" LOCATE = SITE "C9" LEVEL 1;
COMP "VGA_G<0>" LOCATE = SITE "C5" LEVEL 1;
COMP "VGA_G<1>" LOCATE = SITE "D5" LEVEL 1;
COMP "VGA_G<2>" LOCATE = SITE "C6" LEVEL 1;
COMP "VGA_G<3>" LOCATE = SITE "D6" LEVEL 1;
COMP "VGA_R<0>" LOCATE = SITE "A3" LEVEL 1;
COMP "VGA_R<1>" LOCATE = SITE "B3" LEVEL 1;
COMP "VGA_R<2>" LOCATE = SITE "B8" LEVEL 1;
COMP "VGA_R<3>" LOCATE = SITE "C8" LEVEL 1;
COMP "VGA_HSYNC" LOCATE = SITE "C11" LEVEL 1;
COMP "VGA_VSYNC" LOCATE = SITE "B11" LEVEL 1;
COMP "PS2C" LOCATE = SITE "W12" LEVEL 1;
COMP "PS2D" LOCATE = SITE "V11" LEVEL 1;
COMP "RESET" LOCATE = SITE "T14" LEVEL 1;
COMP "GPO<0>" LOCATE = SITE "R20" LEVEL 1;
COMP "GPO<1>" LOCATE = SITE "T19" LEVEL 1;
COMP "GPO<2>" LOCATE = SITE "U20" LEVEL 1;
COMP "GPO<3>" LOCATE = SITE "U19" LEVEL 1;
COMP "GPO<4>" LOCATE = SITE "V19" LEVEL 1;
COMP "GPO<5>" LOCATE = SITE "V20" LEVEL 1;
COMP "GPO<6>" LOCATE = SITE "Y22" LEVEL 1;
COMP "GPO<7>" LOCATE = SITE "W21" LEVEL 1;
COMP "CLK_50M" LOCATE = SITE "E12" LEVEL 1;
NET "CLK_50M_BUFGP/IBUFG" PERIOD = 20 ns HIGH 50%;
SCHEMATIC END;

